<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title class="blockquote-footer">List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"/>   
</head>
<body>
    <form name="userForm">
            <input type="hidden" name="id" value="0" />
            <div class="form-group col-md-3">
                <label for="color">Color:</label>
                <input class="form-control" name="color" />
            </div>
            <div class="form-group col-md-3">
                <label for="make">Make:</label>
                <input class="form-control" name="make"/>
            </div>
             <div class="form-group col-md-3">
                <label for="petName">PetName:</label>
                <input class="form-control" name="petName"/>
            </div>
            <div class="panel-body">
                <button type="submit" id="submit" class="btn btn-success btn-lg btn-block" onclick="reloadPage()">Save</button>
                @* <a id="reset" class="btn btn-primary">Reset</a> *@
            </div>
        </form>
    <table class="table table-condensed table-striped  col-md-6">
    <thead><tr><th>Id</th><th>PetName</th><th>Color</th><th>Make</th></tr></thead>
    <tbody>
    </tbody>
    </table>

  <script>
        function reloadPage(){
            location.reload(true);
        }
        //Get orders
         async function GetOrders(id) {
            const response = await fetch("http://localhost:62892/api/Customer/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const order = await response.json();
                console.log(order);
                if(order[0] != null){
                    order.forEach(function(ord){
                        alert(ord.Id + ' ' +ord.FullName);
                    })
                }
                else{
                    alert('This car don`t have customers');
                }
                
            }
        }
        //Отримання покупців
          async function GetCustomer() {
            // отправляет запрос и получаем ответ
            const response = await fetch("http://localhost:62892/api/Customer", {
                method: "GET",
                headers: { "Accept": "application/json" },
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const customers = await response.json();
                console.log(customers);
                //let rows = document.querySelector("tbody"); 
               // cars.forEach(car => {
               //     rows.append(row(customers));
               // });
         
        }};
        // Получение всех пользователей
        async function GetUsers() {
            // отправляет запрос и получаем ответ
            const response = await fetch("http://localhost:62892/api/Inventory", {
                method: "GET",
                headers: { "Accept": "application/json" },
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const cars = await response.json();
                console.log(cars);
                let rows = document.querySelector("tbody"); 
                cars.forEach(car => {
                    rows.append(row(car));
                });
         
        }};
// Получение одного пользователя
        async function GetUser(id) {
            const response = await fetch("http://localhost:62892/api/Inventory/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const car = await response.json();
                const form = document.forms["userForm"];
                form.elements["id"].value = car.Id;
                form.elements["color"].value = car.Color;
                form.elements["petName"].value = car.PetName;
                form.elements["make"].value = car.Make;
            }
        }
        // Добавление пользователя
        async function CreateUser(userName, color, make) {
 
            const response = await fetch("http://localhost:62892/api/Inventory", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    PetName: userName,
                    Color: color,
                    Make: make
                })
            });
            if (response.ok === true) {
                const car = await response.json();
                reset();
                document.querySelector("tbody").append(row(car));
            }
        }
        // Изменение пользователя
        async function EditUser(id, userName, color, make) {
            const response = await fetch("http://localhost:62892/api/Inventory/"+ id, {
                method: "PUT",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Id: parseInt(id, 10),
                    PetName: userName,
                    Color: color,
                    Make: make
                })
            });
            if (response.ok === true) {
                const car = await response.json();
                reset();
                document.querySelector("tr[data-rowid='" + car.Id + "']").replaceWith(row(car));
            }
        }
        // Удаление пользователя
        async function DeleteUser(Id) {
            const response = await fetch("http://localhost:62892/api/Inventory/" + Id, {
                method: "DELETE",
                headers: { "Accept": "application/json", "Content-Type": "application/json"  },
                body: JSON.stringify({
                    Id: Id
                })
            });
            if (response.ok === true) {
                const car = await response.json();
                document.querySelector("tr[data-rowid='" + car.Id + "']").remove();         
            }
        }
 
        // сброс формы
        function reset() {
            const form = document.forms["userForm"];
            form.reset();
            form.elements["id"].value = 0;
        }
        // создание строки для таблицы
        function row(car) {
 
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", car.Id);
 
            const idTd = document.createElement("td");
            idTd.append(car.Id);
            tr.append(idTd);
 
            const nameTd = document.createElement("td");
            nameTd.append(car.PetName);
            tr.append(nameTd);
 
            const ageTd = document.createElement("td");
            ageTd.append(car.Color);
            tr.append(ageTd);

             const makeTd = document.createElement("td");
            makeTd.append(car.Make);
            tr.append(makeTd);
             
            const linksTd = document.createElement("td");
 
            const editLink = document.createElement("a");
            editLink.setAttribute("data-id", car.Id);
            editLink.setAttribute("style", "cursor:pointer;padding:2px;margin-right:10px;");
            editLink.setAttribute("class", "btn btn-warning col-md-4");
            editLink.append("Change");
            editLink.addEventListener("click", e => {
 
                e.preventDefault();
                GetUser(car.Id);
            });
            linksTd.append(editLink);

            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", car.Id);
            removeLink.setAttribute("style", "cursor:pointer;padding:2px;");
            removeLink.setAttribute("onclick", "reloadPage();");
            removeLink.setAttribute("class", "btn btn-danger col-md-4");
            removeLink.append("Delete");
            removeLink.addEventListener("click", e => {
 
                e.preventDefault();
                DeleteUser(car.Id);
                             
            });
            linksTd.append(removeLink);

            const linksTdTwo = document.createElement("td");
            const viewcust = document.createElement("button");
            viewcust.setAttribute("data-id", car.Id);
            viewcust.setAttribute("style", "cursor:pointer;padding:5px;");
            viewcust.setAttribute("class", "btn btn-primary");    
            viewcust.append("Customers");
            viewcust.addEventListener("click", e => {
 
                e.preventDefault();
                GetOrders(car.Id);
                             
            });
            linksTdTwo.append(viewcust);

            const modal = document.createElement("button");
            modal.setAttribute("style", "cursor:pointer;padding:5px;");
            modal.setAttribute("data-toggle", "modal");
            modal.setAttribute("data-target", "#myModal");
            //modal.setAttribute("onclick", "out();");
            modal.setAttribute("class", "btn btn-primary");
            modal.append("ModalCustomers");
            modal.addEventListener("click", e => {
 
                e.preventDefault();
                out(car.Id);
                             
            });
            linksTdTwo.append(modal);
            
            tr.appendChild(linksTd);
    
            tr.appendChild(linksTdTwo);
 
            return tr;
        }

 
        // отправка формы
        document.forms["userForm"].addEventListener("submit", e => {
            e.preventDefault();
            const form = document.forms["userForm"];
            const id = form.elements["id"].value;
            const userName = form.elements["petName"].value;
            const color = form.elements["color"].value;
            const make = form.elements["make"].value;
            if (id == 0)
                CreateUser(userName, color, make);
            else
                EditUser(id, userName, color, make);
        });
 
        async function out(id){
            var p;
            p= document.getElementById('modalT');
            p.innerHTML =' ';

            const response = await fetch("http://localhost:62892/api/Customer/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const order = await response.json();
                console.log(order);
                if(order[0] != null){
                    order.forEach(function(ord){
                        p.innerHTML += ord.Id + ' ' +ord.FullName + '</br>';
                        //alert(ord.Id + ' ' +ord.FullName);
                    })
                }
                else{
                     p.innerHTML = 'This car don`t have customers';
                    //alert('This car don`t have customers');
                }
                
            }

        }

        // загрузка пользователей
        GetUsers();
        GetCustomer();
        
    </script>
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">X</button>
                    <h3 class="modal-title text-center text-primary">CUSTOMER LIST</h3>
                </div>
                <div class="modal-body">
                        <p id = "modalT" class="text-center"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">close</button>
                </div>
            </div>       
        </div>
    </div>

</body>
</html>